<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/layout.css">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>
    <title>Issue Tracker</title>
    <%- style %>
</head>
<body>
    <%- include('_header'); %>
    <%- body %>
    <%- script %>
</body>
</html>