body{
    background-color: aqua;
    font-family: sans-serif;
    margin: 4% 30%;
}


h1{
    text-align: center;
    color: red;
}

form label{
    width: 100%;
}

.bootstrap-select{
    width: 100%;
}

input,textarea{
    width: 100%;
}

.input{
    border: 0px;
    border-radius: 5px;
}

#create-issue-container{
    margin-top: 8%;
}

#create-issue-container input,textarea{
    margin-bottom: 5%;
}

p{
    text-align: center;
    margin: 0px;
}

button{
    padding: 2%;
    border-radius: 5px;
}

